RewriteEngine On
RewriteBase /codeigniter_products/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]
RewriteCond %{REQUEST_URI} !^/index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# Rewrite "www.example.com -> example.com"
RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
RewriteRule ^ http://%1%{REQUEST_URI} [L,R=301]
# CSS ve JavaScript dosyalarını doğru şekilde yönlendirme
RewriteCond %{REQUEST_URI} ^(.*)\.(css|js|png|jpg|jpeg|gif|ico|svg|woff|woff2|ttf|eot|otf)$ [NC]
RewriteRule ^(.*)$ - [L]
RewriteRule ^(.*)$ index.php [L]

#RewriteEngine On
#RewriteBase /
#
## If the request is for a valid directory
#RewriteCond %{REQUEST_FILENAME} -d [OR]
## If the request is for a valid file
#RewriteCond %{REQUEST_FILENAME} -f [OR]
## If the request is for a valid link
#RewriteCond %{REQUEST_FILENAME} -l
#RewriteRule ^.*$ - [NC,L]
#
#RewriteRule ^(.*)$ index.php/$1 [NC,L]

